.menu {
  width: 290px;
  border: 1px solid #a5a5a5;
  margin-right: 10px;
}

.menu-header {
  text-align: start;
  padding-top: 15px;
  padding-left: 15px;
  height: 50px;
  color: white;
  background-color: rgb(0, 102, 191);
  text-transform: uppercase;
  font-weight: 600;
  font-size: 16px;
}

.menu-items {
  font-size: 15px;
  text-align: start;
  padding-left: 15px;
  padding-right: 15px;
  font-weight: 400;
}

.menu-items li {
  line-height: 30px;
  border-bottom: 1px solid #c4c4c4a9;
}

.menu-count {
  font-size: 12px;
  color: rgb(77, 77, 77);
}

.menu-breadcrum {
  text-align: start;
  margin-right: 20px;
  font-size: 18px;
  margin-top: 10px;
  margin-bottom: 10px;
}