.item {
  margin-top: 10px;
  margin-bottom: 20px;
  font-size: 15px;
  text-align: start;
  width: 200px;
  margin-right: auto;
  margin-left: auto;
}

.item p {
  padding-top: 10px;
  margin: 6px, 0;
}

.item img {
  width: 200px;
  height: 250px;
  box-shadow: 0px 4px 8px rgba(32, 32, 32, 0.3)
}

.content {
  display: flex;
  align-items: flex-start;
  gap: 20px;
  justify-self: flex-start;
  height: 50px;
  padding: 5px;
}

.content p {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  cursor: pointer;
}

.sale {
  width: 50px;
  height: 18px;
  background-color: rgb(255, 233, 112);
  border: none;
  color: rgb(203, 69, 43);
  font-size: 15px;
  text-align: center;
}

.item-prices {
  display: flex;
  gap: 20px;
  margin-top: 10px;
}

.item-prices img {
  width: 20px;
  height: 20px;
}

.cart-button {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: rgba(253, 148, 50, 0.77);
  border: none;
}

.item-price-new {
  color: rgb(226, 109, 86);
  font-size: 18px;
  font-weight: 500;
  margin-top: 10px;
}

.item-price-new span {
  color: rgba(85, 85, 85, 0.838);
  font-size: 12px;
  font-weight: normal;
}

.item-price-old {
  color: rgba(0, 0, 0, 0.26);
  font-size: 18px;
  font-weight: 500;
  text-decoration: line-through;
}

.item:hover {
  transform: scale(1.05);
  transition: 0.6s;
}

.item-cart-count {
  width: 20px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: -35px;
  margin-top: -10spx;
  margin-right: 10px;
  border-radius: 11px;
  font-size: 14px;
  background: red;
  color: white;
}