.contact {
  display: flex;
  flex-direction: column;
  position: fixed;
  bottom: 0;
  right: 0;
  color: #000000;
  width: 60px;
  height: 175px;
  background-color: rgb(255, 255, 255);
  border: 1px solid #939393ce;
  border-radius: 10px;
  padding: 5px;
  margin-bottom: 50px;
  margin-right: 10px;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 11px;
  font-weight: 400;
  z-index: 1000;
}

.contact a {
  padding-top: 25px;
  display: flex;
  height: 50%;
  text-align: center;
}