.header {
  padding-top: 10px;
  max-width: 1200px;
  position: sticky;
  top: 0;
  z-index: 1000;
  margin-left: auto;
  margin-right: auto;
  line-height: 25px;
  height: 165px;
}

.nav-banner {
  display: grid;
  grid-template-columns: 0.5fr 4fr 1fr 1fr 1fr;
  align-items: center;
  justify-content: center;
  gap: 40px;
}

.navbar-main {
  background-color: rgb(7, 21, 66);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
}

.nav-header {
  height: 165px;
}

.nav-logo {
  display: flex;
  align-items: center;
  gap: 10px;
}

.nav-menu {
  display: flex;
  align-items: center;
  gap: 50px;
  list-style: none;
  color: #626262;
  font-size: 15px;
  font-weight: 500px;
}

.nav-menu li {
  display: flex;
  flex-direction: column;
  color: #626262;
  gap: 3px;
  cursor: pointer;
  font-size: 18px;
}

.nav-menu hr {
  border: none;
  width: 90%;
  height: 3px;
  border-radius: 10px;
  background: #FF4141;
  margin-top: 2px;
}

.nav-cart {
  display: flex;
  align-items: center;
  gap: 45px;
}

.nav-cart-count {
  width: 20px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -20px;
  margin-left: -55px;
  border-radius: 11px;
  font-size: 14px;
  background: red;
  color: white;
}

.search {
  width: 100%;
  height: 35px;
  border: none;
  outline: none;
  color: #616161;
  font-size: 16px;
  border-radius: 80px;
  padding-left: 10px;
  background-color: #ebebeb;
}

.name-shop {
  color: linear-gradient(180deg, #91b0ee, #27b59222 60%);
}

.btn-login {
  font-size: 18px;
  border-radius: 15px;
}

.btn-userinfo button {
  padding: 0;
}

@media screen and (min-width: 576px) {
  .nav-banner {
    grid-template-columns: 0.2fr 1fr 0.5fr 1fr;
  }
}

@media screen and (max-width: 575px) {
  .header {
    height: 165px;
  }

  .nav-banner {
    grid-template-columns: 0.2fr 0.2fr;
    gap: 20px;
  }
}

@media screen and (min-width: 768px) {
  .header {
    width: 768px;
  }

  .nav-banner {
    grid-template-columns: 0.2fr 1fr 0.5fr 1fr;
  }
}

@media screen and (min-width: 992px) {
  .header {
    width: 992px;
  }

  .nav-banner {
    grid-template-columns: 0.5fr 4fr 1fr 1fr 1fr;
  }
}

@media screen and (min-width: 1200px) {
  .header {
    width: 1200px;
  }

  .nav-banner {
    grid-template-columns: 0.5fr 4fr 1fr 1fr 1fr;
  }
}

.menu-contact-zf {
  position: fixed;
  bottom: 100px;
  left: 20px;
}

.zalo-shake {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  width: 40px;
  height: 40px;
  background-color: rgb(33, 149, 243);
  border-radius: 50px;
  animation: shake 0.5s infinite alternate;
}

.zalo-pulse {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 65px;
  height: 65px;
  background-color: rgba(33, 149, 243, 0.533);
  border-radius: 50px;
  animation: pulse 1s infinite alternate;
  box-shadow: 0 0 0 2em transparent;
}

.zalo-shake img {
  width: 30px;
}

.phone-shake {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  width: 40px;
  height: 40px;
  background-color: rgba(221, 51, 51);
  border-radius: 50px;
  animation: shake 0.5s infinite alternate;
}

.phone-pulse {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 65px;
  height: 65px;
  background-color: rgba(221, 51, 51, 0.533);
  border-radius: 50px;
  animation: pulse-1 1s infinite alternate;
  box-shadow: 0 0 0 2em transparent;
}

.phone-shake img {
  width: 30px;
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.1);
  }

  100% {
    transform: scale(1);
    box-shadow: 0 0 20px rgb(22, 113, 231);
  }
}

@keyframes pulse-1 {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.1);
  }

  100% {
    transform: scale(1);
    box-shadow: 0 0 20px rgb(221, 51, 51);
  }
}