.footer {
  padding: 40px;
  height: 400px;
  display: grid;
  justify-content: end;
  align-items: start;
  text-align: start;
  grid-template-columns: 2fr 1fr 1fr 1fr 2fr;
  background-color: rgb(102, 102, 102);
  gap: 30px;
  color: antiquewhite;
  margin-top: 20px;
  font-weight: 400;
  font-size: 18px;
}