.footer {
  padding: 40px;
  height: 400px;
  display: grid;
  justify-content: end;
  align-items: start;
  text-align: start;
  grid-template-columns: 2fr 1fr 1fr 1fr 2fr;
  background-color: rgb(102, 102, 102);
  gap: 30px;
  color: antiquewhite;
  font-weight: 400;
  font-size: 18px;
}

.footer-brand {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  background-color: rgba(102, 102, 102, 0.533);
  height: 100px;
}

.footer-brand-img {
  display: flex;
  width: 80px;
  justify-content: center;
  align-items: center;
  background-color: white;
  margin-left: auto;
  margin-right: auto;
  height: 80px;
}

.footer-brand-img img {
  width: 60px;
  margin-top: auto;
  margin-bottom: auto;
}