.popular {
  max-width: 1280px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
}

.popular-body {
  margin-top: 50px;
}

.popular h4 {
  margin-top: 10px;
  margin-bottom: 10px;
  color: #171717;
  font-weight: 600;
  text-align: start;
  text-transform: uppercase;
  ;
}

.popular hr {
  width: 200px;
  height: 6px;
  border-radius: 10px;
  background: #1b0a0a;
}

.popular-items {
  display: grid;
  grid-template-columns: repeat(1, minmax(0, 1fr));
  border: 2px solid #eaeaea;
}

@media screen and (min-width: 768px) {
  .popular-items {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }

  .popular {
    width: 748px;
  }
}

@media screen and (min-width: 1024px) {
  .popular-items {
    grid-template-columns: repeat(4, minmax(0, 1fr));
  }

  .popular {
    width: 1000px;
  }
}

@media screen and (min-width: 1280px) {
  .popular-items {
    grid-template-columns: repeat(5, minmax(0, 1fr));
  }

  .popular {
    width: 1240px;
  }
}