.productdisplay-main-img {
  box-shadow: 0px 4px 8px rgba(32, 32, 32, 0.3)
}

.productdisplay-left img {
  width: 470px;
}

.productdisplay {
  margin-top: 30px;
  display: flex;
  flex-direction: row;
  align-items: left;
  justify-content: left;
  text-align: left;
  line-height: 35px;
}

.price-new {
  color: rgb(231, 71, 40);
  font-size: 24px;
  font-weight: 700;
}

.product-sale {
  background-color: rgb(255, 233, 112);
  border: none;
  color: rgb(203, 69, 43);
  font-size: 15px;
  text-align: center;
  margin-left: 5px;
}

.pd-description {
  white-space: pre-line;
  border: 2px dashed rgb(221, 221, 221);
  border-radius: 10px;
  padding: 10px;
  margin-top: 20px;
  color: rgb(77, 77, 77);
  font-size: 15px;
}

.btn-minus {
  width: 25px;
  border: 1px solid rgb(221, 221, 221);
}

.btn-plus {
  width: 25px;
  border: 1px solid rgb(221, 221, 221);
}

.btn-quantity {
  border: 1px solid rgb(221, 221, 221);
  text-align: center;
}

@media screen and (max-width: 576px) {
  .productdisplay-left img {
    width: 80vh;
  }

  .productdisplay {
    flex-direction: column;
  }
}

@media screen and (min-width: 768px) {
  .productdisplay-left img {
    width: 290px;
  }

  .productdisplay {
    flex-direction: row;
  }
}

@media screen and (min-width: 992px) {
  .productdisplay-left img {
    width: 384px;
  }

  .productdisplay {
    flex-direction: row;
  }
}

@media screen and (min-width: 1200px) {
  .productdisplay-left img {
    width: 470px;
  }

  .productdisplay {
    flex-direction: row;
  }
}